
<!DOCTYPE html>
<html>
<head>
<title>Shopping Cart</title>
<style>
.admin div {
  margin-bottom: 10px;
}
</style>
<link rel="stylesheet" type="text/css" href="css/c_style.css">
</head>
<body>

 <span class="link1">
        <div class="header">
            <table width="100%" cellspacing="8"  >
            <tr style="font-size:15px;font-weight:bold">
            <td width="25%"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcScyYC_djsYBZBcicIxMrDH-    cHI2wICk1fvoK40XAbdFHP9R9fZ" height="80" ></td>
            <td align="right" width="15%"><a href="/" >Home</a></td>
            <td align="center" width="15%"><a href="/products" >Products</a></td>
            <td align="left" width="20%"><a href="/" >Contact Us</a></td>
                                <% if (user) { %>
                                    <td align="right" width="5%"><a href="/user/profile" ><%= user.user_id %></a></td>
                                    <td align="right" width="5%"><a href="/user/logout" >logout</a></td>
                                <% } else { %>
                                    <td align="left" width="5%"><a href="/user/signin" >signin</a></td>
                                    <td align="center" width="5%"><a href="/user/signup" >signup</a></td>
                                <% } %>
            <td align="center" width="5%"><a href="/add-to-cart/shopping-cart" >Cart</a></td>
            </tr>
            </table>
  </div>
</span>




    <br>



    <div class="banner" align="center">
      <h style="font-weight:100; font-size:2.5em">Welcome Admin!</h>
    </div>

    <div class="admin" style="padding:80px">
      <h3>Select Your Choice:</h3>

      <!-- <div>
        <a href="/admin/addProduct">Add Products in the list</a>
        <form action="/admin/addProduct" enctype="multipart/form-data" method="post">
          <input type="file" name="products" size="50" accept=".json" />
          <input type="submit" value="Upload File" />
        </form>

        
      </div> -->

      <div>
        <a href="/admin/updateProduct">update product details</a>
      </div>

      <div>
        <a href="/admin/addProduct">Add a new product</a>
      </div>

      <div>
        <a href="/admin/user">See all the users details</a>
      </div>

     <!--  <div>
        <a href="/admin/updateUser/:id">Check a users details</a>
      </div> -->
    </div>







<span class="link3">
    <div class="footer">
       <table width="100%" cellspacing="8" align="center">
       <tr>
         <td align="center" style="font-size:20px;font-weight:bold">About</td>
         <td align="center" style="font-size:20px;font-weight:bold">My Account</td>
         <td align="center" style="font-size:20px;font-weight:bold">Information</td>
         <td align="center" style="font-size:20px;font-weight:bold">Contact Us</td>
       </tr>
       <tr>
          <td rowspan="3" align="center" valign="top">Welcome to our <br> ever growing Basket<br>An exciting place for the whole family to shop.</td>
          <td align="center" style="color:#CCCCCC"><a href="/user/signin" >Signin</a></td>
          <td align="center" style="color:#CCCCCC"><a href="/" >Home</a></td>
          <td align="center">Crystal IT Park,Indore(M.P),India</td>
       </tr>
       <tr>
          <td align="center" style="color:#CCCCCC"><a href="/user/signup" >Create Account</a></td>
          <td align="center" style="color:#CCCCCC"><a href="/products" >Products</a></td>
          <td align="center">+91 9009406777</td>
       </tr>
       <tr>
          <td></td>
          <td align="center" style="color:#CCCCCC"><a href="mail.jsp" >MailUs</a></td>
          <td align="center" style="color:#CCCCCC"><a href="mailto:hello@systango.com" >hello@systango.com</a></td>
       </tr>
       </table>
    </div></span>
        <p id="footer">&copy; Basket Shoppers Limited</p>
</body>
</html>
