@CHARSET "ISO-8859-1";
    .header{
       background-color:#B0C4DE;
	height: 100px;
	margin: 0px;
padding: 0px;
       }
    
.Main {
                font-family: ;
                color: ;
                font-size: ;
		background-color: white;
                

                height: 600px;
            }


    .footer{
       background-color:black;
       color:#CCCCCC;
       align:center
       }
    .link1 a:link{
      color:black;
      text-decoration:none;
      }
      .link1 a:visited{
      color:black;
      text-decoration:none;
      }
     .link1 a:hover{
      color:red;
      text-decoration:none;
      }
      .link1 a:active{
      color:red;
      text-decoration:none;
      }
    .link2 a:link, .link2 a:visited {
       border: solid 2px orange;
       background-color: white;
       color: orange;
       padding: 4px 25px;
       text-align: center; 
       text-decoration: none;
       display: inline-block;
       border-radius: 25px;
      }
    .link2 a:hover, .link2 a:active {
       background-color: orange;
       color:white;
       border-radius: 25px;
      }
    .link3 a:link{
      color:#CCCCCC;
      text-decoration:none;
      }
      .link3 a:visited{
      color:#CCCCCC;
      text-decoration:none;
      }
     .link3 a:hover{
      color:red;
      text-decoration:none;
      }
      .link3 a:active{
      color:red;
      text-decoration:none;
      }
    .p{
        font-size:15px;
        color:black}
    .item{
         font-size:25px}
    .desc{
         color:black;
    }
    .price{
      font-size:20px;
      font-family:sans;}
    .table{
      color:black;
      font-family:sans;
      }
    .details{
      color:gray;
      font-family:sans;}
    .more{
      color:#3399ff;
      font-size:20px;
      font-family:sans;
      }
    body{
       font-family:Sans MS;
		height: 100%;
                margin: 0;
                text-align: center;
                width: 100%;
             
     background-color: #FF6FFFF;}
